<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('bootstrap') }}
        {% block stylesheets %}

        {% endblock %}
        {{ encore_entry_link_tags('adminkit') }} {# should be always last#}

        {# eventually add this here styles which must overwrite the adminKit #}
        {{ encore_entry_link_tags('right-tooltip') }}

    </head>
    {# See: https://demo.adminkit.io/ #}
    <body data-theme="dark"> <!-- todo: load from cookie the previously set / dark by default -->
        <span class="toast-notification-wrapper"></span>
        <section id="{{ vueId }}"></section>
    </body>

    <footer>
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('bootstrap') }}
        {% block javascripts %}

        {% endblock %}
        {{ encore_entry_script_tags('adminkit') }} {# must always be last#}
    </footer>
</html>
